body {
    background-color: #000000;
}

p {
    color: #8b0000;
    font-family: Living Hell;
    font-size: 40px;
}

#videoElement {
    width:500px;
    height:375px;
    background-color: #666;
}

#container {
    margin:0px auto;
    width: 500px;
    height: 375px;
}