body {
    background-color: #000000;
    overflow: hidden
}

p {
    color: #8b0000;
    font-family: Living Hell;
    font-size: 40px;
}

.anchored-element {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #0000000000
  }


